@page
@using Microsoft.AspNetCore.Authentication;
@model LoginModel
@{
    ViewData["Title"] = " | Entrar";
}

<div style="min-height: 90vh; overflow:hidden">
<div class="container p-0 mx-0 mt-4">
    <div class="row justify-content-start">
        <div class="col-12">
            <a asp-area="" asp-page="/Index" class="logo-img">
                <img width="200" src="~/logo-bg.png" alt="">
            </a>
        </div>
    </div>
    
</div>

<div class="container mx-auto mt-5">
<div class="row justify-content-center">
        <div class="col-sm-10 col-md-8 col-lg-6 text-center">
            <h1 class="custom-title fw-bold">Entre ou crie uma conta!</h1>
                <p class="custom-subtitle">Entre para acessar todas as funcionalidades</p>
        </div>
        <div class="row justify-content-center mt-4">
        <div class="col-sm-10 col-md-8 col-lg-4 ">
            <div class="d-flex justify-content-center">
                @{
                    if ((Model.ExternalLogins?.Count ?? 0) != 0)
                    {
                        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                            <div>
                                    @foreach (var provider in Model.ExternalLogins ?? Enumerable.Empty<AuthenticationScheme>())
                                    { 
                                        <div>
                                            @if(provider.Name == "Google")
                                            { 
                                                    <button id="send" class="btn-login" type="submit" name="provider"  value="@provider.Name"
                                                    title="Log in using your @provider.DisplayName account">
                                                        <img src="/Pictures/_google.png" alt="Imagem da logo do google para efetuar login"
                                                        style="margin: 2px;width: 25px; height: 25px; cursor:pointer;">
                                                        <p style="letter-spacing: 0.25px; text-align: center; margin-bottom: 0; font-size: 18px;">Entrar com o @provider.Name</p>
                                                    </button>
                                            }
                                            @if (provider.Name == "LinkedIn")
                                            {
                                                
                                                <button id="send"  class="btn-login" type="submit" name="provider"  value="@provider.Name"
                                                title="Log in using your @provider.DisplayName account">
                                                    <img src="/Pictures/_linkedin.png" alt="Imagem da logo do linkedin para efetuar login" style="margin: 2px;width: 25px; height: 25px; cursor:pointer;">
                                                    <p style="letter-spacing: 0.25px; text-align: center; margin-bottom: 0; font-size: 18px;">Entrar com o @provider.Name</p>
                                                </button>
                                            }
                                            @if (provider.Name == "GitHub")
                                            {
                                                <button id="send"  class="btn-login" type="submit" name="provider"  value="@provider.Name"
                                                title="Log in using your @provider.DisplayName account">
                                                    <img src="/Pictures/_github.png" alt="Imagem da logo do github para efetuar login" style="margin: 2px;width: 25px; height: 25px; cursor:pointer;">                                                
                                                    <p style="letter-spacing: 0.25px; text-align: center; margin-bottom: 0; font-size: 18px;">Entrar com o @provider.Name</p>
                                                </button>
                                            }
                                            
                                        </div>
                                    }
                                   
                            </div>
                        </form>
                    }
                }
               
            </div>
        </div>
        </div>
        <div class="row justify-content-center mt-3">
            <div class="col-sm-10 col-md-8 col-lg-6">
                <div style="text-align: center;"> Ao entrar você automáticamente aceita os <a asp-area="" asp-page="/Sobre/Services">Termos de serviço</a> 
                e a <a asp-area="" asp-page="/Sobre/Privacy">Política de Privacidade</a></div>
            </div>
        </div>
    </div>
</div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 text-center" id="footerDiv"></div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        $(document).ready(function () {
            document.body.style.display = 'block';
            document.body.style.overflow = 'hidden';

            const footer = document.querySelector("#footer");
            const footerDiv = document.querySelector("#footerDiv");
            footer.classList.remove("footer", "border-top", "text-muted");
            footer.removeAttribute("footer")
            footerDiv.appendChild(footer);
        });
    </script>
}
