@model _FormNewLiveModel
@using Domain.Enums

@* Ver o que isso faz *@
<input type="hidden" id="tipoLive" /> 

@* Header da live, ir pra fora *@
<ul class="nav nav-tabs" id="navTab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="my-videos-tab" data-bs-toggle="tab" data-bs-target="#my-videos"
            type="button" role="tab" aria-controls="my-videos" aria-selected="true" onclick="openLiveNow()">
             Live Instantânea 🎥
        </button>
    </li>
    <li class="nav-item" role="presentation">
                    <button class="nav-link" id="scheduleLive-tab" data-bs-toggle="tab" data-bs-target="#scheduleLive" type="button"
            role="tab" aria-controls="scheduleLive" aria-selected="false" onclick="openLiveSchedule()">Agendar Live
            📆</button>
    </li>
</ul>

<div id="liveInstantanea" class="active">
<div class="tab-content" id="myTabContent">
        <form method="post" action="/ScheduleActions" enctype="multipart/form-data">
            @Html.AntiForgeryToken()
            <div class="form-group" style="text-align: center;">
                <label id="platform-opt-label" class="py-2 time-picker-text">Escolha uma plataforma<span
                        style="color:firebrick">*</span></label>
                <div class="stream-platform">
                    <div id="browser-opt" class="stream-chosen chosen-platform  chrome">
                        <img alt="progTv-logo" src="/Pictures/_programador-tv.png" style="width:35px; heigth:35px;">
                        <span>Navegador</span>
                    </div>
                    <div id="browser-off" class="stream-chosen chosen-platform no-chrome"
                        style="display:none; background: grey;">
                        <img alt="progTv-logo" src="/Pictures/_programador-tv.png" style="width:30px; heigth:30px;">
                        <span>Navegador</span>
                    </div>
                    <div id="obs-opt" class="stream-chosen">
                        <img alt="obs-logo" src="/Pictures/_obs-logo.png" style="width:30px; heigth:30px">
                        <span>OBS Studio</span>
                    </div>
                </div>
                <div>
                    <div id="alert-no-chrome" class=" shadow p-3 mb-3 bg-yellow rounded mt-3 alert alert-warning"
                        role="alert">
                        A transmissão através do navegador só esta disponível no chrome.
                    </div>
                </div>
            </div>
            <hr>

            <div class="form-group" id="TituloTitulo">

                <label asp-for="Live.Titulo" class="control-label time-picker-text">Título<span style='color:firebrick'>*</span></label>

                <input id="LiveTitulo" required asp-for="Live.Titulo" class="form-control "
                    placeholder="Fazendo [algo legal] com [tecnologias daora]" />
                <span asp-validation-for="Live.Titulo" id="LiveTitulospan" class="text-danger time-picker-text"></span>
            </div>
            <br>

            <div class="form-group">
                <label class="time-picker-text">Áreas relacionadas<span style='color:firebrick'>*</span></label><br>
                <select multiple="multiple" asp-for="TagsSelected" required onchange="verificarSelecao()"
                    class="form-control" id="TagsForLive">
                    @foreach (var item in Model.RelatioTags!)
                    {
                        <optgroup label="@item.Key">
                            @foreach (var subItem in Model.RelatioTags[item.Key])
                            {
                                <option value="@subItem">@subItem</option>
                            }
                        </optgroup>
                    }
                </select>
            </div>
            <button id="btnPrepararChatGPT" class="button action button-disabled" style="margin-top: 10px;"
                title="Clique aqui para ver sugestões de título e descrição para live a partir das áreas relacionadas."
                disabled>
                <i class="material-icons mdc-button__icon" aria-hidden="true">lightbulb</i>
                <span class="text-button-align-icon">Sugerir contúdo com GPT</span>
            </button>
            <hr>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Live.IsUsingObs" type="hidden" id="stream-opt">
            
            <div class="form-group" id="TituloDescricao">
                <label asp-for="Live.Descricao" class="control-label time-picker-text">Descrição</label>
                <textarea  id="LiveDescricao" asp-for="Live.Descricao" class="form-control "
                    placeholder="Vem comigo descobrir a maravilha do Javascript, criando um app que faz coisas maravilhosas"></textarea>
                <span asp-validation-for="Live.Descricao" id="LiveDescricaospan" class="text-danger"></span>
            </div>

            <br>

            <div class="form-group" id="thumbnailUploadContainer">
                <label asp-for="Live.Thumbnail" id="thumb-label" class="control-label time-picker-text">
                    Pré-Vizualização<span id="thumb-span"  style='color:firebrick'>*</span>
                </label>
                <br>
                <input type="file" asp-for="Live.Thumbnail" accept="image/*" />
                <br>
                <br>
                <div style="text-align: center;">

                    (1280x720)
                    <img id="previewForm" style="
                width: 300px;
                height: 150px;">
                </div>
            </div>
            <br>
            <div class="form-group d-flex">
                <button type="submit" class="button action button-right" style="width: 100%; padding: 6px !important;" onclick="return validarFormulario();">
                    <span class="text-button-align-icon" style="margin: 0;">Ir para o Estúdio</span>
                </button>
            </div>
        </form>
   
</div>
    </div>


    <div id="liveAgendar">
         <div class="tab-pane fade" id="scheduleLive" role="tabpanel" aria-labelledby="scheduleLive-tab">
          <form
              id="scheduleLiveFormOnChannel"
              method="post"
              enctype="multipart/form-data"
            >
          <div id="live-schedule-step-1" class="active">
 @Html.AntiForgeryToken()
              <div class="form-group">
              </div>
              <hr />

              <div asp-validation-summary="ModelOnly" class="text-danger"></div>
              <div class="form-group" id="Titulo-Sched">
                <label
                  asp-for="ScheduleTimeSelection.Titulo"
                  class="time-picker-text"
                  >Título<span style="color: firebrick">*</span>
                  </label>

                <input
                  id="LiveTitulo-SchedOnChannel"
                  required
                  asp-for="ScheduleTimeSelection.Titulo"
                  class="form-control"
                  placeholder="Fazendo [algo legal] com [tecnologias daora]"
                />
                <span
                  asp-validation-for="ScheduleTimeSelection.Titulo"
                  id="LiveTitulospan"
                  class="text-danger"
                ></span>
              </div>
              <br/>
            <div class="datePickerGrid">
                <div>
                  <div class="date-picker date-input-div">
                  <div class="text-container">
                    <p class="time-picker-text">Data 
                      <span style="color: firebrick">*</span>
                    </p>
                    <div
                      style="margin-top: 28px"
                      class="alert-below-input"
                      id="errorMsgDate"
                    ></div>
                  </div>
                  <input
                    type="date"
                    class="dateTime-newPicker"
                    id="dateTimeSL"
                  />
                </div>
                </div>
                <div></div>
                
              <div>
<div class="date-input-div">
                  <label class="time-picker-text">Horário de Início
                      <span style="color: firebrick">*</span>
                  </label>
                  <div class="selectTime">
<select name="hoursStartSL" id="hoursStartSL" class="bg-transparent text-xl appearance-none outline-none">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
      <option value="11">11</option>
      <option value="12">12</option>
    </select>
    <span class="text-xl mr-3">:</span>
    <select name="minutesStartSL" id="minutesStartSL" class="bg-transparent text-xl appearance-none outline-none mr-4">
      <option value="0">00</option>
      <option value="15">15</option>
      <option value="30">30</option>
      <option value="45">45</option>
    </select>
    <select name="ampmStartSL" id="ampmStartSL" class="bg-transparent text-xl appearance-none outline-none">
      <option value="am">AM</option>
      <option value="pm">PM</option>
    </select>
    <span class="material-symbols-outlined">
schedule
</span>
                  </div>
                  <div class="alert-below-input" id="errorMsgTime"></div>
                </div>
              </div>

              <div>
                
                <div class="date-input-div">
                  <label class="time-picker-text">Horário de Término
                      <span style="color: firebrick">*</span>
                  </label>
                  <div>
                    <div class="selectTime">
<select name="hoursEndSL" id="hoursEndSL" class="bg-transparent text-xl appearance-none outline-none">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
      <option value="11">11</option>
      <option value="12">12</option>
    </select>
    <span class="text-xl mr-3">:</span>
    <select name="minutesEndSL" id="minutesEndSL" class="bg-transparent text-xl appearance-none outline-none mr-4">
      <option value="0">00</option>
      <option value="15">15</option>
      <option value="30">30</option>
      <option value="45">45</option>
    </select>
    <select name="ampmEndSL" id="ampmEndSL" class="bg-transparent text-xl appearance-none outline-none">
      <option value="am">AM</option>
      <option value="pm">PM</option>
    </select>
    <span class="material-symbols-outlined">
schedule
</span>
                    </div>
                  </div>
                </div>
                <div class="alert-below-input" id="errorMsg"></div>
              </div>
            </div>
            <div class="form-group">
                <label class="time-picker-text"
                  >Áreas relacionadas<span style="color: firebrick"
                    >*</span
                  ></label
                ><br/>
                <select
                  multiple="multiple"
                  asp-for="ScheduleTimeSelection.TagsSelected"
                  required
                  onchange="verificarSelecaoLiveScheduleOnChannel()"
                  class="form-control isSelect2"
                  id="TagsForScheduleLiveOnChannel"
                >
                  @foreach (var item in Model.RelatioTags!) {
                  <optgroup label="@item.Key">
                    @foreach (var subItem in Model.RelatioTags[item.Key]) {
                    <option value="@subItem">@subItem</option>
                    }
                  </optgroup>
                  }
                </select>
              </div>
              <br />
              <button
                id="btnPrepararChatGPT-SchedOnChannel"
                class="button action button-disabled"
                title="Clique aqui para ver sugestões de título e descrição para live a partir das áreas relacionadas."
                disabled
              >
                <i class="material-icons mdc-button__icon" aria-hidden="true"
                  >lightbulb</i
                >
                <span class="text-button-align-icon"
                  >Sugerir contúdo com GPT</span
                >
              </button>
              <hr />
          <div class="d-grid gap-2">
                <button type="button" id="next-step-live" onclick="switchSteps()" class="btn button action">Próximo</button>
                <small id="errorLS" style="color: rgb(189, 31, 31); text-align: center;"></span>
              </div>
          </div>
          <div id="live-schedule-step-2" class="">
            <br />
              <div class="form-group" id="TituloDescricao-Sched">
                <label
                  asp-for="ScheduleLiveForTimeSelection.Descricao"
                  class="time-picker-text"
                  >Descrição</label>
                <textarea
                rows="8"
                  id="LiveDescricao-SchedOnChannel"
                  asp-for="ScheduleLiveForTimeSelection.Descricao"
                  class="form-control"
                  placeholder="Vem comigo descobrir a maravilha do Javascript, criando um app que faz coisas maravilhosas"
                ></textarea>
                <span
                  asp-validation-for="ScheduleLiveForTimeSelection.Descricao"
                  id="LiveDescricaospan"
                  class="text-danger"
                ></span>
              </div>

              <br/>

              <div class="form-group" id="thumbnailUploadContainer">
                <label
                  asp-for="ScheduleLiveForTimeSelection.Thumbnail"
                  id="thumb-label"
                  class="time-picker-text"
                  >Imagem<span style="color: firebrick">*</span>
                </label>
                <br/>
                <input
                  type="file"
                  asp-for="ScheduleLiveForTimeSelection.Thumbnail"
                  id="thumbnailInput"
                  accept="image/*"
                  required
                />
                <br/>
                <br/>
                @* <div style="text-align: center">
                  (1280x720)
                  <img id="sched-preview" style="width: 300px; height: 150px" />
                </div> *@
              </div>
              <input
                type="hidden"
                asp-for="ScheduleTimeSelection.Tipo"
                value="@EnumTipoTimeSelection.Live"
              />
              <input
                type="hidden"
                class="startLive"
                asp-for="ScheduleTimeSelection.StartTime"
              />
              <input
                type="hidden"
                class="endLive"
                asp-for="ScheduleTimeSelection.EndTime"
              />
              <br/>
              <div style="display: flex; justify-content: space-around; gap: 1rem;">
                <button type="button" style="width: 50%;" onclick="switchStepsBack()" class="btn button action">Voltar</button>
                <button type="submit" style="width: 50%;" class="btn button action">Agendar</button>
              </div>
          </div>
            </form>
         </div>
    </div>


<script>
    function openLiveSchedule () {
        $("#tipoTempoLivre").val("scheduled");
        //quando sair limpar
        $("#tipoLive").val("scheduled");
         $("#liveInstantanea").removeClass("active")
        $("#liveAgendar").addClass("active")
    }

    function openLiveNow(){
        $("#tipoTempoLivre").val("");
        //quando sair limpar
        $("#tipoLive").val("");
         $("#liveAgendar").removeClass("active")
        $("#liveInstantanea").addClass("active")
    }

    function switchSteps() {
        $('#live-schedule-step-1').removeClass('active');

        $('#live-schedule-step-2').addClass('active');
}

function switchStepsBack() {
        $('#live-schedule-step-2').removeClass('active');

        $('#live-schedule-step-1').addClass('active');
}


    function openTimePickerForLiveSchedule () {
       
        @* $("#liveModal").modal("hide");
        $("#timePickerModal").modal("show");
        $('#scheduleLive-tab').removeClass('active');
        $('#my-videos-tab').addClass('active');
        $('#my-videos').addClass('show active');
        $("#scheduleLive").removeClass('show active'); *@

        $("#timePickerModal").on('hidden.bs.modal', function () {
            $('#scheduleLive-tab').removeClass('active');
            $('#my-videos-tab').addClass('active');
            $('#my-videos').addClass('show active');
            $("#scheduleLive").removeClass('show active');
        });
    }


    const obsOpt = document.querySelector("#obs-opt");
    const thumbnailLabel = document.querySelector("#thumb-label");
    const thumbnailInput = document.querySelector("#Live_Thumbnail");
    const hiddenInput = document.querySelector("#stream-opt");

    function verificarNavegador() {


        if (notChrome()) {

         const off = document.getElementById("browser-off");
         const opt = document.getElementById("browser-opt");
         const obsOpt = document.getElementById("obs-opt");
         opt.style.display = "none";
         opt.classList.remove("chosen-platform");
         off.style.display = "block";
         off.style.display = "flex";
         off.style.cursor = "not-allowed";
         off.classList.remove("chosen-platform");
         hiddenInput.value = "true";
      }
      else
      {
        const alert = document.getElementById("alert-no-chrome");
        const alertSched = document.getElementById("alert-no-chrome-sched");
        alert.style.display = "none";
        alertSched.style.display = "none";
        const spanElement = document.querySelector("#thumb-span");
        spanElement.innerHTML = "";
        hiddenInput.value = "false";
      }
    }

     verificarNavegador();

    function isChrome() {
        return /Chrome/.test(navigator.userAgent) && /Google Inc/.test(navigator.vendor);
    }

    function notChrome() {
        return /Edge/.test(navigator.userAgent) || /Edg/.test(navigator.userAgent)
            || /OPR/.test(navigator.userAgent) || /Opera/.test(navigator.userAgent) || /Firefox/.test(navigator.userAgent)
            || /Firefox/.test(navigator.userAgent) || /Safari/.test(navigator.userAgent) && /Apple Computer/.test(navigator.vendor)
            || /SamsungBrowser/.test(navigator.userAgent);
    }

    document.getElementById('obs-opt').addEventListener('click', function () {

        const spanElement = document.querySelector("#thumb-span");
        if (isChrome() && spanElement.innerHTML !== "*") {
            spanElement.innerHTML = "*";
        }
        if (hiddenInput.value === "false") {
            hiddenInput.value === "true";
        }
    })

    document.getElementById('browser-opt').addEventListener('click', function () {
        if (isChrome()) {
            const spanElement = document.querySelector("#thumb-span");
            spanElement.innerHTML = "";
        }
        if (hiddenInput.value === "true") {
            hiddenInput.value === "false";
        }
    })

    document.getElementById('Live_Thumbnail').addEventListener('change', function (event) {
        var file = event.target.files[0];
        if (file) {
            var reader = new FileReader();
            reader.onload = function () {
                var previewDiv = document.getElementById('previewForm');
                previewDiv.src = reader.result;
            }
            reader.readAsDataURL(file);
        }
    });

    
</script>
<script>
  
</script>
<script defer src="~/js/liveFlow.js"></script>
<script defer src="~/js/liveOriginVerification.js"></script>
<script defer src="~/js/timePickerFlow.js"></script>
<script defer src="~/js/ScheduleLiveFlowOnChannel.js"></script>
<script defer src="~/js/ScheduleLiveSelectionTagVerifierOnChannel.js"></script>
<script src="~/js/Live/ValidacaoLive.js"></script>

@* On channel é o agendar? *@




