@using Domain.Enums

@model FormLiveSchedule

<div class="modal fade eventModal" id="eventModalLiveSchedule" tabindex="-1" aria-labelledby="eventModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="eventModalLabel">Criar Live</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="tab-pane active" id="timeTab" role="tabpanel" aria-labelledby="home-tab">

                    <form id="scheduleLiveForm" method="post" enctype="multipart/form-data">
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <div>
                                <div id="alert-no-chrome-sched"
                                    class=" shadow p-3 mb-3 bg-yellow rounded mt-3 alert alert-warning" role="alert">
                                    A transmissão através do navegador só esta disponível no chrome.
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="form-group">
                            <label>Áreas relacionadas<span style='color:firebrick'>*</span></label><br>
                            <select multiple="multiple" asp-for="ScheduleTimeSelection.TagsSelected" required
                                onchange="verificarSelecaoLiveSchedule()" class="form-control isSelect2" id="TagsForScheduleLive">
                                @foreach (var item in Model.RelatioTags!)
                                {
                                    <optgroup label="@item.Key">
                                        @foreach (var subItem in Model.RelatioTags[item.Key])
                                        {
                                            <option value="@subItem">@subItem</option>
                                        }
                                    </optgroup>
                                }
                            </select>
                        </div>
                        <br>
                        <button id="btnPrepararChatGPT-Sched" class="button action button-disabled"
                            title="Clique aqui para ver sugestões de título e descrição para live a partir das áreas relacionadas."
                            disabled>
                            <i class="material-icons mdc-button__icon" aria-hidden="true">lightbulb</i>
                            <span class="text-button-align-icon">Sugerir contúdo com GPT</span>
                        </button>
                        <hr>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input asp-for="Live.IsUsingObs" type="hidden" id="stream-opt-sched">
                        <div class="form-group" id="Titulo-Sched">

                            <label asp-for="ScheduleTimeSelection.Titulo" class="control-label">Título<span
                                    style='color:firebrick'>*</span></label>

                            <input id="LiveTitulo-Sched" required asp-for="ScheduleTimeSelection.Titulo" class="form-control "
                                placeholder="Fazendo [algo legal] com [tecnologias daora]" />
                            <span asp-validation-for="ScheduleTimeSelection.Titulo" id="LiveTitulospan"
                                class="text-danger"></span>
                        </div>
                        <br>
                        <div class="form-group" id="TituloDescricao-Sched">
                            <label asp-for="ScheduleLiveForTimeSelection.Descricao" class="control-label">Descrição</label>
                            <textarea id="LiveDescricao-Sched" asp-for="ScheduleLiveForTimeSelection.Descricao" class="form-control "
                                placeholder="Vem comigo descobrir a maravilha do Javascript, criando um app que faz coisas maravilhosas"></textarea>
                            <span asp-validation-for="ScheduleLiveForTimeSelection.Descricao" id="LiveDescricaospan" class="text-danger"></span>
                        </div>

                        <br>

                        <div class="form-group" id="thumbnailUploadContainer">
                            <label asp-for="ScheduleLiveForTimeSelection.Thumbnail" id="thumb-label"
                                   class="control-label">Pré-Vizualização<span style='color:firebrick'>*</span>
                            </label>
                            <br>
                            <input type="file" asp-for="ScheduleLiveForTimeSelection.Thumbnail" accept="image/*" required/>
                            <br>
                            <br>
                            <div style="text-align: center;">

                                (1280x720)
                                <img id="preview" style="
                width: 300px;
                height: 150px;">
                            </div>
                        </div>
                        <input type="hidden" asp-for="ScheduleTimeSelection.Tipo" value="@EnumTipoTimeSelection.Live" />
                        <input type="hidden" class="startLive" asp-for="ScheduleTimeSelection.StartTime" />
                        <input type="hidden" class="endLive" asp-for="ScheduleTimeSelection.EndTime" />
                        <br>
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn button action">Salvar agendamento</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="backToTimePicker" style="border: 1px solid #cdcdcd" class="btn"
                    onclick="backToTimePicker()">VOLTAR</button>
                <button type="button" class="btn button-close-color" data-bs-dismiss="modal">FECHAR</button>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById('ScheduleLiveForTimeSelection_Thumbnail').addEventListener('change', function (event) {
        var file = event.target.files[0];
        if (file) {
            var reader = new FileReader();
            reader.onload = function () {
                var previewDiv = document.getElementById('preview');
                previewDiv.src = reader.result;
            }
            reader.readAsDataURL(file);
        }
    });

    function backToTimePicker () {
        $('#eventModalLiveSchedule').modal('hide');
        $('#timePickerModal').modal('show');
    }
</script>
