@using Domain.Enums

@model FormsCursosAndEventos

<div class="modal fade eventModal" id="eventModalCustosAndEventos" tabindex="-1" aria-labelledby="eventModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form id="saveTimeFormEventosAndCursos" method="post">
            <div class="modal-content">
                <div class="modal-body event-modal">
                    <!-- One -->
                    <div class="modal-selectCE active body-CE-1">
                        <div class="modalTitleHeaderDiv">
                            <h5 class="modal-title modalTitleHeader" id="eventModalLabel">
                                Criação de Cursos e Eventos
                            </h5>
                        </div>
                        <div class="progressOneToOne">
                            <div class="progressBall">
                                <img src="~/Pictures/Icons/checkModalIcon.svg" alt="check icon" />
                            </div>
                            <div class="progressRectangle"></div>
                            <div class="progressBallNext">2</div>
                            <div class="progressRectangle"></div>
                            <div class="progressBallNext">3</div>
                        </div>
                        <div class="progressOneToOneText">
                            <div class="progressTextBox">
                                <p class="progressText">Titulo e Descrição</p>
                            </div>
                            <div class="progressTextBox">
                                <p class="progressText">Data e Hora</p>
                            </div>
                            <div class="progressTextBox">
                                <p class="progressText">Concluir</p>
                            </div>
                        </div>
                        <div class="tab-pane active" id="timeTab" role="tabpanel" aria-labelledby="home-tab">
                            <input type="hidden" asp-for="ScheduleTimeSelection.Variacao" value="@Variacao.CursoOuEvento" />
                            <div class="form-group form-group-modal">
                                <strong class="oneToOneTextHeader">
                                    Escolha seu titulo e suas tags de acordo com o assunto que deseja.
                                </strong>
                                <div class="modal-input-padding">
                                    <div id="TituloMentoria">
                                        <label  asp-for="ScheduleTimeSelection.Titulo" class="control-label oneToOneLabel">
                                            Título da Sessão
                                            <span style="color: firebrick">*</span>
                                        </label>
                                        <input id="TimeSelectionMentoriaTituloCE" asp-for="ScheduleTimeSelection.Titulo" class="form-control one-to-one-input" />
                                    </div>
                                    <label asp-for="ScheduleTimeSelection.TagsSelected" class="control-label oneToOneLabel">
                                        Tags
                                        <span style="color: firebrick">*</span>
                                    </label>
                                    <select multiple="multiple" asp-for="ScheduleTimeSelection.TagsSelected" class="form-control isSelect2" required id="TagsSelectedCursosAndEventos">
                                        @foreach (var item in Model.RelatioTags) {
                                            <optgroup label="@item.Key">
                                                @foreach (var subItem in Model.RelatioTags[item.Key]) {
                                                    <option value="@subItem">@subItem</option>
                                                }
                                            </optgroup>
                                        }
                                    </select>
                                    <div id="selected-tags-container" style="margin-bottom: 32px;"></div>

                                    <div class="numberMaxMentees" style="flex-direction:row;">
                                    <label class="oneToOneLabel" for="maxParticipants">
                                        Selecione o número máximo de participantes:
                                    </div>
                                        <input id="maxCursoEvento" type="number" style="appearance: auto;" step="1" id="maxParticipants" min="2" max="100" placeholder="3" value="3" asp-for="ScheduleFreeTimeForTimeSelection.TimeSelectionBackstage.MaxParticipants" required />

                                  <div style="display: flex; flex-direction: row;">
                                <input type="checkbox" id="ilimitadoCursoEvento" asp-for="ScheduleFreeTimeForTimeSelection.TimeSelectionBackstage.Ilimitado" value="true" style="width: 16px;
  height: 16px;
  align-content: center;
  align-self: center;"/>
                                <label>
                                    <strong class="oneToOneLabel">Vagas Ilimitadas</strong>
                                </label>
                             </div>
                                 

                                <div style="text-align: end">
                                    <button id="btnCE1" style="margin-right: 22px;
  margin-bottom: 30px;" type="button" class="btn btn-modal-first oneToOneButton action btn-avancar">
                                        Definir Data e Hora
                                    </button>
                                </div>


                                </div> <!-- Fechando a div modal-input-padding -->

                                
                               
                            </div>
                            <input type="hidden" asp-for="ScheduleTimeSelection.Tipo" value="@EnumTipoTimeSelection.FreeTime" />
                        </div>
                    </div>

                    <!-- Two -->
                    <div class="modal-selectCE body-CE-2">
                        <div class="modalTitleHeaderDiv">
                            <h5 class="modal-title modalTitleHeader" id="eventModalLabel">
                                Criação de Cursos e Eventos
                            </h5>
                        </div>
                        <div class="progressOneToOne">
                            <div class="progressBall" style="color: #fff">1</div>
                            <div class="progressRectangle"></div>
                            <div class="progressBall">
                                <img src="~/Pictures/Icons/checkModalIcon.svg" alt="check icon" />
                            </div>
                            <div class="progressRectangle"></div>
                            <div class="progressBallNext">3</div>
                        </div>
                        <div class="progressOneToOneText">
                            <div class="progressTextBox">
                                <p class="progressText">Titulo e Descrição</p>
                            </div>
                            <div class="progressTextBox">
                                <p class="progressText">Data e Hora</p>
                            </div>
                            <div class="progressTextBox">
                                <p class="progressText">Concluir</p>
                            </div>
                        </div>
                        <div class="datePickerFlexDiv">
                            <div class="datePickerFlexItem">
                                <h2 style="font-size: 16px">Escolha o horario e a data que se encontra disponível</h2>
                            </div>
                            <div class="datePickerFlexTime">
                                <div class="date-picker date-input-div">
                                    <div class="text-container">
                                        <p class="time-picker-text">Data 
                                            <span style="color: firebrick">*</span>
                                        </p>
                                        <div style="margin-top: 28px" class="alert-below-input" id="errorMsgDateCE"></div>
                                    </div>
                                    <input type="date" class="dateTime-newPicker" id="dateTimeCE" />
                                </div>
                                <div class="date-input-div">
                                    <label class="time-picker-text">Horário de Início
                                        <span style="color: firebrick">*</span>
                                    </label>
                                    <div class="selectTime">
                                        <select name="hoursStartCE" id="hoursStartCE" class="bg-transparent text-xl appearance-none outline-none">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                            <option value="11">11</option>
                                            <option value="12">12</option>
                                        </select>
                                        <span class="text-xl mr-3">:</span>
                                        <select name="minutesStartCE" id="minutesStartCE" class="bg-transparent text-xl appearance-none outline-none mr-4">
                                            <option value="0">00</option>
                                            <option value="15">15</option>
                                            <option value="30">30</option>
                                            <option value="45">45</option>
                                        </select>
                                        <select name="ampmStartCE" id="ampmStartCE" class="bg-transparent text-xl appearance-none outline-none">
                                            <option value="am">AM</option>
                                            <option value="pm">PM</option>
                                        </select>
                                        <span class="material-symbols-outlined">schedule</span>
                                    </div>
                                     <div class="alert-below-input" id="errorMsgTimeCE"></div>

                                </div>
                                <div class="date-input-div">
                                    <label class="time-picker-text">Horário Final
                                        <span style="color: firebrick">*</span>
                                    </label>
                                    <div class="selectTime">
                                        <select name="hoursEndCE" id="hoursEndCE" class="bg-transparent text-xl appearance-none outline-none">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                            <option value="11">11</option>
                                            <option value="12">12</option>
                                        </select>
                                        <span class="text-xl mr-3">:</span>
                                        <select name="minutesEndCE" id="minutesEndCE" class="bg-transparent text-xl appearance-none outline-none mr-4">
                                            <option value="0">00</option>
                                            <option value="15">15</option>
                                            <option value="30">30</option>
                                            <option value="45">45</option>
                                        </select>
                                        <select name="ampmEndCE" id="ampmEndCE" class="bg-transparent text-xl appearance-none outline-none">
                                            <option value="am">AM</option>
                                            <option value="pm">PM</option>
                                        </select>
                                        <span class="material-symbols-outlined">schedule</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                       <div style="
    margin-bottom: 20px; padding-inline: 33px;" class="btn-conferir-informacao">
                      <button
                        id="btnCEBack2"
                        type="button"
                        class="btn btn-voltar action"
                      >
                        Voltar Etapa
                      </button>
                      <button
                        id="btnCE2"
                        type="button"
                        class="btn btn-avancar oneToOneButton action"
                      >
                        Definir Data e Hora
                      </button>
                    </div>
                    </div>

                    <div class="modal-selectCE body-CE-3">
              <div class="modalTitleHeaderDiv">
                <h5 class="modal-title modalTitleHeader" id="eventModalLabel">
                  Criação de Cursos e Eventos
                </h5>
              </div>
              <div class="progressOneToOne">
                <div class="progressBall">1</div>
                <div class="progressRectangle"></div>
                <div class="progressBall">2</div>
                <div class="progressRectangle"></div>
                <div class="progressBall">
                  <img src="~/Pictures/Icons/checkModalIcon.svg" alt="check icon" />
                </div>
              </div>
              <div class="progressOneToOneText">
                <div class="progressTextBox">
                  <p class="progressText">Titulo e Descrição</p>
                </div>
                <div class="progressTextBox">
                  <p class="progressText">Data e Hora</p>
                </div>
                <div class="progressTextBox">
                  <p class="progressText">Concluir</p>
                </div>
              </div>
              <div
                class="tab-pane active"
                id="timeTab3"
                role="tabpanel"
                aria-labelledby="home-tab"
              >
                <div class="conferir-info-header">
                  Conferir todas as informações
                </div>
                <div class="conferir-info-modal">
                  <p class="conferir-info-titulo" id="tituloResumoCE"></p>
                  <p class="resumo-one-to-one">
                    <span>
                      <span class="material-symbols-outlined" style="font-size: 14px;
    margin-right: 5px;">
                      calendar_today
                      </span>
                      <span id="dia-resumoCE" class="resumo-span"></span>
                    </span>
                    <span>
                      <span class="material-symbols-outlined" style="font-size: 14px;
    margin-right: 5px;">
                      schedule
                      </span>
                    <span id="horarios-resumoCE"></span>
                    </span>
                    
                  </p>
                  <div class="modal-tags" id="modal-tagsCE">
                    
                  </div>
                </div>
                <div class="btn-criar-modal">
                  <button
                    id="btnBackCE3"
                    type="button"
                    class="btn btn-voltar action"
                  >
                    Voltar Etapa
                  </button>
                  <button
                    id="btnCE3"
                    type="submit"
                    class="btn oneToOneButton action btn-avancar"
                  >
                    Criar Sessão
                  </button>
                </div>
              </div>
            </div>
                </div>
            </div>
        </form>
    </div>
</div>

     <script src="~/js/CursosAndEventos/ValidacaoCursosAndEventos.js" asp-append-version="true"></script>


<script>
    const ch = document.getElementById("ilimitadoCursoEvento");
    const max = document.querySelector("#maxCursoEvento");
    ch.onchange = () => {
        if(ch.checked){
            max.value = 0
            max.disabled = true
        }else{
            max.disabled = false
            max.value= 3
        }
    }
</script>>