@using Domain.Enums

@model FormsOneToOne
<div class="modal fade eventModal" id="eventModalOneToOne" tabindex="-1" aria-labelledby="eventModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <form id="saveTimeForm" method="post">
      <div class="modal-content">
        <div class="modal-body event-modal">
          <!-- One -->
          <div class="modal-select active body-oneToOne-1">
            <div class="modalTitleHeaderDiv">
              <h5 class="modal-title modalTitleHeader" id="eventModalLabel">
                Criação de Colaboração 1:1
              </h5>
            </div>
            <div class="progressOneToOne">
              <div class="progressBall">
                <img src="~/Pictures/Icons/checkModalIcon.svg" alt="check icon" />
              </div>
              <div class="progressRectangle"></div>
              <div class="progressBallNext">2</div>
              <div class="progressRectangle"></div>
              <div class="progressBallNext">3</div>
            </div>
            <div class="progressOneToOneText">
              <div class="progressTextBox">
                <p class="progressText">Titulo e Descrição</p>
              </div>
              <div class="progressTextBox">
                <p class="progressText">Data e Hora</p>
              </div>
              <div class="progressTextBox">
                <p class="progressText">Concluir</p>
              </div>
            </div>
            <div
              class="tab-pane active"
              id="timeTab"
              role="tabpanel"
              aria-labelledby="home-tab"
            >
              <input
                type="hidden"
                asp-for="ScheduleTimeSelection.Variacao"
                value="@Variacao.OneToOne"
              />
              <div class="form-group form-group-modal">
                <strong class="oneToOneTextHeader">
                  Escolha seu titulo e suas tags de acordo com o assunto que
                  deseja.
                </strong>
                <div class="modal-input-padding">
                  <div id="TituloMentoria">
                    <label
                      asp-for="ScheduleTimeSelection.Titulo"
                      class="control-label oneToOneLabel"
                    >
                      Título da Sessão
                      <span style="color: firebrick">*</span>
                    </label>
                    <input
                      id="TimeSelectionMentoriaTitulo"
                      asp-for="ScheduleTimeSelection.Titulo"
                      class="form-control one-to-one-input"
                    />
                  </div>
                  <select
                    asp-for="ScheduleTimeSelection.TagsSelected"
                    class=" form-control isSelect2"
                    required
                    id="TagsSelected">
                        @foreach (var item in Model.RelatioTags)
                        {
                            <optgroup label="@item.Key">
                                @foreach (var subItem in  Model.RelatioTags[item.Key])
                                {
                                    <option value="@subItem">@subItem</option>
                                }
                            </optgroup>
                        }
                    </select>
                </div>
                <div class="pt-2" id="TituloMentoria">
                    <label asp-for="ScheduleTimeSelection.Titulo" class="control-label">Título <span style="font-size: 12px; color: rgb(152, 152, 152)">opcional</span></label>
                    <input id="TimeSelectionMentoriaTitulo" asp-for="ScheduleTimeSelection.Titulo" class="form-control" />
                </div>
                <input type="hidden" asp-for="ScheduleTimeSelection.Tipo" value="@EnumTipoTimeSelection.FreeTime" />
                <input type="hidden" class="startLive" asp-for="ScheduleTimeSelection.StartTime" />
                <input type="hidden" class="endLive" asp-for="ScheduleTimeSelection.EndTime" />

              <br />
            </div>
          </div>

          <!-- Two -->
          <div class="modal-select body-oneToOne-2">
            <div class="modalTitleHeaderDiv">
              <h5 class="modal-title modalTitleHeader" id="eventModalLabel">
                Criação de Colaboração 1:1
              </h5>
            </div>
            <div class="progressOneToOne">
              <div class="progressBall" style="color: #fff">1</div>
              <div class="progressRectangle"></div>
              <div class="progressBall">
                <img src="~/Pictures/Icons/checkModalIcon.svg" alt="check icon" />
              </div>
              <div class="progressRectangle"></div>
              <div class="progressBallNext">3</div>
            </div>
            <div class="progressOneToOneText">
              <div class="progressTextBox">
                <p class="progressText">Titulo e Descrição</p>
              </div>
              <div class="progressTextBox">
                <p class="progressText">Data e Hora</p>
              </div>
              <div class="progressTextBox">
                <p class="progressText">Concluir</p>
              </div>
            </div>
            <div class="datePickerFlexDiv">
              <div class="datePickerFlexItem">
                <h2 style="font-size: 16px">
                  Escolha o horario e a data que se encontra disponível
                </h2>
              </div>
              <div class="datePickerFlexTime">
                <div class="date-picker date-input-div">
                  <div class="text-container">
                    <p class="time-picker-text">Data 
                      <span style="color: firebrick">*</span>
                    </p>
                    <div
                      style="margin-top: 28px"
                      class="alert-below-input"
                      id="errorMsgDate"
                    ></div>
                  </div>
                  <input
                    type="date"
                    class="dateTime-newPicker"
                    id="dateTime"
                  />
                </div>
                <div class="date-input-div">
                  <label class="time-picker-text">Horário de Início
                      <span style="color: firebrick">*</span>
                  </label>
                  <div class="selectTime">
<select name="hoursStart" id="hoursStart" class="bg-transparent text-xl appearance-none outline-none">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
      <option value="11">11</option>
      <option value="12">12</option>
    </select>
    <span class="text-xl mr-3">:</span>
    <select name="minutesStart" id="minutesStart" class="bg-transparent text-xl appearance-none outline-none mr-4">
      <option value="0">00</option>
      <option value="15">15</option>
      <option value="30">30</option>
      <option value="45">45</option>
    </select>
    <select name="ampmStart" id="ampmStart" class="bg-transparent text-xl appearance-none outline-none">
      <option value="am">AM</option>
      <option value="pm">PM</option>
    </select>
    <span class="material-symbols-outlined">
schedule
</span>
                  </div>
                  <div class="alert-below-input" id="errorMsgTime"></div>
                </div>
                <div class="date-input-div">
                  <label class="time-picker-text">Horário de Término
                      <span style="color: firebrick">*</span>
                  </label>
                  <div>
                    <div class="selectTime">
<select name="hoursEnd" id="hoursEnd" class="bg-transparent text-xl appearance-none outline-none">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
      <option value="11">11</option>
      <option value="12">12</option>
    </select>
    <span class="text-xl mr-3">:</span>
    <select name="minutesEnd" id="minutesEnd" class="bg-transparent text-xl appearance-none outline-none mr-4">
      <option value="0">00</option>
      <option value="15">15</option>
      <option value="30">30</option>
      <option value="45">45</option>
    </select>
    <select name="ampmEnd" id="ampmEnd" class="bg-transparent text-xl appearance-none outline-none">
      <option value="am">AM</option>
      <option value="pm">PM</option>
    </select>
    <span class="material-symbols-outlined">
schedule
</span>

                    </div>
                    <br>
                    <button id="prepararChatGPT"
                            class="button action button-disabled"
                            title="Clique aqui para ver sugestões de título e descrição para live a partir das áreas relacionadas."
                            disabled>
                        <i class="material-icons" aria-hidden="true">lightbulb</i>
                        <span class="text-button-align-icon">Sugerir contúdo com GPT</span>
                    </button>
                    <hr>
                    <br>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group" id="TituloAgendaLive">
                        <label asp-for="ScheduleTimeSelection.Titulo" class="control-label">Título<span style='color:firebrick'>*</span></label>
                        <input id="TimeSelectionTitulo" required asp-for="ScheduleTimeSelection.Titulo" class="form-control " placeholder="Fazendo [algo legal] com [tecnologias daora]" />
                    </div>
                    <br>
                    <div class="form-group" id="TituloDescricaoAgenda">
                        <label asp-for="ScheduleLiveForTimeSelection.Descricao" class="control-label">Descrição</label>
                        <textarea id="TimeSelectionDescricao" asp-for="ScheduleLiveForTimeSelection.Descricao" class="form-control " placeholder="Vem comigo descobrir a maravilha do Javascript, criando um app que faz coisas maravilhosas"></textarea>
                    </div>

                    <input type="hidden" asp-for="ScheduleTimeSelection.Tipo" value="@EnumTipoTimeSelection.Live" />
                   

                    <br>
                    <div class="form-group" id="thumbnailUploadContainer">
                        <label asp-for="ScheduleLiveForTimeSelection.Thumbnail" class="control-label">Pré-Visualização<span style='color:firebrick'>*</span></label>
                        <br>
                        <input type="file" asp-for="ScheduleLiveForTimeSelection.Thumbnail" id="LiveThumb" accept="image/*" required/>
                        <br>
                        <br>
                        <div style="text-align: center;">

                            (350px de largura por 200px de altura)
                            <img id="preview" style="
                                                     width: 300px;
                                                     height: 150px;">
                        </div>
                    </div>
                    <br>

                    <button type="submit"
                            class="button action button-right">
                        <span class="text-button-align-icon">Agendar Live</span>
                    </button>
                </form>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn button-close-color" data-bs-dismiss="modal">FECHAR</button>
      </div>
    </div>
  </div>
</div>

     <script src="~/js/OneToOneEvent/ValidacaoOneToOne.js" asp-append-version="true"></script>
</div>
