@using Domain.Enums

@model FormsOneToOne
<div class="modal fade eventModal" id="eventModalOneToOne" tabindex="-1" aria-labelledby="eventModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="modalTitleHeaderDiv">
            <h5 class="modal-title modalTitleHeader" id="eventModalLabel">Criação de Colaboração 1:1</h5>
        </div>
        <div class="progressOneToOne">
            <div class="progressBall">
            <img src="~/Pictures/Icons/checkModalIcon.svg">
            </div>
            <div class="progressRectangle">

            </div>
            
            <div class="progressBallNext">
                2
            </div>

            <div class="progressRectangle">
                
            </div>

            <div class="progressBallNext">
                3
            </div>
            
        </div>

        <div class="progressOneToOneText">
            <div class="progressTextBox">
                <p class="progressText">Titulo e Descrição</p>
            </div>
            <div class="progressTextBox">
                <p class="progressText">Data e Hora</p>
            </div>
            <div class="progressTextBox">
                <p class="progressText">Concluir</p>
            </div>
        </div>
       
        <div class="tab-pane active" id="timeTab" role="tabpanel" aria-labelledby="home-tab">

            @* <form id="saveTimeForm" method="post" > *@
                <input type="hidden" asp-for="ScheduleTimeSelection.Variacao" value="@Variacao.OneToOne">
                <div class="form-group">
                    <strong class="oneToOneTextHeader">
                        Escolha seu titulo e suas tags de acordo com o assunto que deseja.
                    </strong>
                    <br>
                
                     <div class="pt-2" id="TituloMentoria">
                    <label asp-for="ScheduleTimeSelection.Titulo" class="control-label oneToOneLabel">Título da Sessão <span style='color:firebrick'>*</span> <span style="font-size: 12px; color: rgb(152, 152, 152)">opcional</span></label>
                    <input id="TimeSelectionMentoriaTitulo" asp-for="ScheduleTimeSelection.Titulo" class="form-control" />
                </div>

                    
                    <label asp-for="ScheduleTimeSelection.TagsSelected" class="control-label oneToOneLabel">Tags<span style="font-size: 12px; color: rgb(152, 152, 152)">opcional</span></label>
                    <select multiple="multiple"
                    asp-for="ScheduleTimeSelection.TagsSelected"
                    class=" form-control isSelect2"
                    required
                    id="TagsSelected">
                        @foreach (var item in Model.RelatioTags)
                        {
                            <optgroup label="@item.Key">
                                @foreach (var subItem in  Model.RelatioTags[item.Key])
                                {
                                    <option value="@subItem">@subItem</option>
                                }
                            </optgroup>
                        }
                    </select>
                    <div id="selected-tags-container">
                        
                    </div>
                </div>
               


                <input type="hidden" asp-for="ScheduleTimeSelection.Tipo" value="@EnumTipoTimeSelection.FreeTime" />
                <input type="hidden" class="startLive" asp-for="ScheduleTimeSelection.StartTime" />
                <input type="hidden" class="endLive" asp-for="ScheduleTimeSelection.EndTime" />

                <br>
                <div style="text-align: end;">
                    <button id="btnOneToOneTitle" class="btn oneToOneButton action">Definir Data e Hora</button>
                </div>
            @* </form> *@

        </div>

       
      </div>
      
    </div>
  </div>
</div>

